<div id="aboutwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/aboutwrap -->
	
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>DYLAN ZITZMANN</h2>
				<p>I am currently pursuing my Bachelors degree in technology management and looking for projects to add to my portfolio.</p>
			</div>

		</div><! --/row -->
</div><! --/container -->
