	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h4>HELLO, MY NAME IS</h4>
					<h1>Dylan Zitzmann</h1>
					<h4>DEVELOPER</h4>
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/headerwrap -->
	
	<section id="works"></section>
	<div class="container">
		<div class="row centered mt mb">
			<h1>My Portfolio</h1>
			
			<div class="col-lg-6 col-lg-offset-3">  <h1> <a href="http://depot.meteor.com"> <i class="fa fa-truck"></i> <br> Meteor Depot</a> </h1> </div>
			
		</div><! --/row -->
		<div class="row centered mt mb">
			<div class="col-lg-6 col-lg-offset-3"><a href="https://bitbucket.org/dtzitz/"><%= image_tag("bitbucket.png") %></a></div>
		</div>
	</div><! --/container -->
	
	<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4">
					 <h2> <a href="http://www.twitter.com/dtzitz"><i class="fa fa-twitter"></i></a> </h2>
				</div>
				<div class="col-lg-4">
					<a href="http://www.linkedin.com/in/dylanz"><i class="fa fa-linkedin"></i></a>
				</div>
				<div class="col-lg-4">
					<a href="http://dtzitz.tumblr.com/"><i class="fa fa-tumblr"></i></a>
				</div>
			
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/social -->